<div class="container">
  <h1>It's your turn <%= @score.name%></h1>
  <p>Your current total is <%= @score.points%> points</p>
  <%= form_for [@game,@score,@roll] do |f|%>
  <%= f.submit("Roll!") %>
  <%end%>	 
</div>