.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  position: relative;
  top:100px;
}

.container_dice {
  margin: 20px auto;
  width: 950px;
  text-align: center;
  padding: 0px 20px 20px 20px;
  position: relative;
  top: 0px;
}

.names {
margin-top: 80px;
}

.total p {
display: inline;
margin-right: 33px;
}

#points {
display: inline;
top: -200px;
}

.score_board {
  position: fixed;
  right: 70px;
  top: 50px;
}

.container input, .container_dice input {
background: rgb(255, 56, 56);
color: white;
font-family: 'Open Sans', sans-serif;
width: 150px;
padding: 5px;
font-size: 16px;
line-height: 1;
border:none;
height: 34px;
margin-bottom: 5px;
-webkit-appearance: none;
}

.nonselected{
	border:1px solid blue;
	margin: 7px 18px;
}
.selected{
	border:1px solid red;
}

#banner {
  font-size: 106px;
  text-align: center;
  background: -webkit-linear-gradient(#FF0F0F, #F5D909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#player_prompt {
  position: fixed;
  top: 50px;
}

#save_names {
  position: absolute;
  float: right;
  bottom: 121px;
  left: 352px;
}

#me{
	color:red;
}


.front select {
   background: red;
   color:white;
   font-family: 'Open Sans', sans-serif;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
 }

 .front input {
   background: rgb(184, 184, 184);
   color:white;
   font-family: 'Open Sans', sans-serif;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
 }

/* ========= NAV ========================*/
body{
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

li {
padding-bottom: 38px;
}

label{
	padding-right: 30px;
}


.nav_container {
  z-index: 1;
  height: 50px;
  background-color: #E40000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
}
nav {
  width: 800px;
  margin: 0 auto;
}

nav h1 {
  margin: 10px 0;
  padding: 0;
  float: left;
  background: -webkit-linear-gradient(#FF0F0F, #F5D909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  display: inline-block;
  background: -webkit-linear-gradient(#FF0F0F, #F5D909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 20px;
}

nav ul li a {
   background: -webkit-linear-gradient(#FF0F0F, #F5D909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;

}